<section class="page-section bg-dark text-white">
  <div class="container px-4 px-lg-5 text-center">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-lg-8 col-xl-6 text-center">
        <h2 class="mt-0">{{ section.title }}</h2>  <!-- Título centrado -->
        <hr class="divider border border-2 border-white">
        <div class="mb-4 text-bright-shadow">
          {{ section.text | markdownify }}  <!-- Párrafos con sangría -->
        </div>
      </div>
    </div>
  </div>
</section>