<section id="{{ section.section_id }}" class="page-section {{ section.background_style }}">
  <!-- ELIMINA el container/row que limita el ancho -->
  <div class="full-width-container"> <!-- Nuevo contenedor sin restricciones -->
    <div class="text-bright-shadow mx-auto"> <!-- mx-auto para centrar -->
      <p class="text-center">Junior Data Analyst | Excel and Power BI Enthusiast</p>
      {{ section.text | markdownify }}
      {{ section.extra_text | markdownify | default: "" }}
    </div>
    {% include actions.html actions=section.actions %}
  </div>
</section>