<div id="portfolio" class="{{ section.background_style }}">
  <div class="container-fluid p-0">
    <div class="row g-0">
      {% for proj in section.projects %}
      <div class="col-lg-4 col-sm-6 portfolio-item mb-4">
        <!-- Lightbox para la imagen -->
        <a class="portfolio-img-container" href="assets/img/portfolio/fullsize/{{ proj.icon }}">
          <img class="img-fluid portfolio-img" src="assets/img/portfolio/thumbnails/{{ proj.icon }}" alt="{{ proj.title }}" />
        </a>
        
        <!-- Contenedor de texto - Versión Mejorada -->
        <div class="portfolio-caption p-4">
          <h3 class="project-title mb-2">{{ proj.title }}</h3>
          <p class="project-description mb-3">{{ proj.text }}</p>
          
          {% if proj.url %}
            <a href="{{ proj.url }}" class="project-link" target="_blank">
              Ver Proyecto <i class="fas fa-arrow-right ms-1"></i>
            </a>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>